<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/sites/YOUR_APP_SERVICE_NAME</ResourceId>
    <ResourceGroup>YOUR_RESOURCE_GROUP</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://YOUR_APP_SERVICE_NAME.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>eb46a512-9c4c-4a7b-a01c-6020c0282b9a</ProjectGuid>
    <PublishUrl>https://YOUR_APP_SERVICE_NAME.scm.azurewebsites.net/</PublishUrl>
    <UserName>$YOUR_APP_SERVICE_NAME</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>
